@import "reset";

.container-faq{
  @include reset;

  .header{
    width: 100%;
    height: 120px;
    position: relative;
    border-bottom: 1px solid lightgrey;
    color: rgb(61, 68, 74);
    margin-bottom: 70px;


    .logo-part{
      width: 280px;
      height: 50%;
      font-size: 24px;
      padding-top: 16px;

      span{
        img{
          height: 90px;
          vertical-align: middle;
        }
      }

    }

    .item-menu{
      margin-left: -38px;

    ul{
      li{
        list-style: none;
        display: inline;
        font-size: 18px;
        padding-right: 30px;
      }
      li:last-child{
        color: rgb(72, 101,171 );
      }

    }

    .color-bar{
      width: 155px;
      height: 3px;
      background: #4865ab;
      position: absolute;
      left: 44%;
      top: 117px;

    }

    }

    .right-part{
      position: absolute;
      top: 20px;
      right: 20px;;
      font-size: 26px;

      span{
        font-size: 30px;
        width: 30px;
        height: 30px;
        background: rgb(247,83,30);
        border-radius: 50%;
        padding: 0px 7px;
        margin-left: 8px;
      }
    }

  }

  .content{
    width: 1000px;
    height: 100%;
    margin: 0 auto;

    .faq{

      .question{
        color: rgb(61, 68, 74);

      }

      .answer{
        color: rgb(55, 49, 59);
        font-size: 18px;


      }
    }

  }
}
